html,body{
    margin-top: 1%;
    background-color: #1d1c16;
    color: white;
    overflow: hidden;
}
#signup{
    display: flex;
}
#home{
    margin-left: 27%;
    width: 770px;
    margin-bottom: 0%;
    position: fixed;
}
#loginicon{
    width: 50px;
    height: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 30vh;
  }
#title{
    font-size: 50px;
    /* font-family: 'Rubik Puddles', cursive; */
    font-family: 'Press Start 2P', cursive;
}
#sign-btn{
    display: flex;
    align-items: center;
    margin-top: 30%;
    background-color: white;
    color: #006cfa;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* margin-bottom: 20%; */
    border-radius: 0%;
    border-color: black;
    border-radius: 8px;
    padding: 10px 14px 10px 14px;
    margin-right: 10px;
    cursor: pointer;
}
#sign-btn:hover{
    display: flex;
    align-items: center;
    margin-top: 30%;
    background-color: #006cfa;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* margin-bottom: 20%; */
    border-radius: 0%;
    border-color: black;
    border-radius: 8px;
    padding: 10px 14px 10px 14px;
    margin-right: 10px;
    cursor: pointer;
}